# 1. ملفات جلسة WhatsApp Web
.wwebjs_auth/
.wwebjs_cache/

# 2. مجلد مكتبات Node.js
node_modules/

node_modules/
baileys_auth_info/
auth_info_baileys/
*.local
server1.js
test-connect.js
baileys_store.json